<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
<th:block th:replace="~{/layouts/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <div class="text-center">
            <h2 class="text-primary mb-4" th:text="#{book.list}"></h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th th:text="#{book.title}"></th>
                        <th th:text="#{book.author}"></th>
                        <th th:text="#{book.publisher}"></th>
                        <th th:text="#{book.isbn}"></th>
                        <th th:text="#{book.availability}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 글 목록 반복 출력 -->
                    <tr th:each="item : ${bList}">
                        <td>
                            <a th:href="@{/book/read(bno=${item.bno})}" th:text="${item.title}"></a>
                        </td>
                        <td th:text="${item.author}"></td>
                        <td th:text="${item.publisher}"></td>
                        <td th:text="${item.isbn}"></td>
                        <td>
                                <span th:text="${item.availability} ? 'O' : 'X'" class="badge"
                                      th:classappend="${item.availability} ? 'bg-success text-white' : 'bg-danger text-white'"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </th:block>
</th:block>
</body>
</html>
