<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Read</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
<th:block th:replace="~{/layouts/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <div class="d-flex flex-column align-items-center">
            <h2 class="text-primary" th:text="#{book.read}"></h2>
            <dl class="row">
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3 fw-bold" th:text="#{book.title}"></dt>
                    <dd class="col-sm-9" th:text="${book.title}"></dd>
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3 fw-bold" th:text="#{book.author}"></dt>
                    <dd class="col-sm-9" th:text="${book.author}"></dd>
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3 fw-bold" th:text="#{book.publisher}"></dt>
                    <dd class="col-sm-9" th:text="${book.publisher}"></dd>
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3 fw-bold" th:text="#{book.description}"></dt>
                    <dd class="col-sm-9" th:text="${book.description}"></dd>
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3 fw-bold" th:text="#{book.isbn}"></dt>
                    <dd class="col-sm-9" th:text="${book.isbn}"></dd>
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3 fw-bold" th:text="#{book.availability}"></dt>
                    <dd class="col-sm-9">
                        <span th:text="${book.availability} ? 'O' : 'X'"
                              class="badge"
                              th:classappend="${book.availability} ? 'bg-success text-white' : 'bg-danger text-white'"></span>
                    </dd>
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3 fw-bold" th:text="#{book.borrowerId}"></dt>
                    <dd class="col-sm-9">
                        <form th:action="@{/book/borrow(bno=${book.bno})}" method="post" class="d-flex align-items-center">
                            <input type="text" class="form-control me-3" name="borrowerId" th:value="${book.borrowerId}"
                                   th:placeholder="#{placeholder.borrow}" th:disabled="${!book.availability}">
                            <button type="submit" th:text="#{button.borrow}" class="btn btn-primary w-25" th:disabled="${!book.availability}"></button>
                        </form>
                    </dd>
                </div>
            </dl>
            <a th:href="@{/book/list}" th:text="#{button.list}" class="btn btn-success text-decoration-none text-white w-100"></a>
        </div>
    </th:block>
</th:block>
</body>
</html>
