<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Read</title>
</head>
<body>
<h2>도서 상세 보기</h2>

<dl>
    <dt>도서명</dt>
    <dd th:text="${book.title}"></dd>

    <dt>저자</dt>
    <dd th:text="${book.author}"></dd>

    <dt>출판사</dt>
    <dd th:text="${book.publisher}"></dd>

    <dt>요약 보기</dt>
    <dd th:text="${book.description}"></dd>

    <dt>ISBN</dt>
    <dd th:text="${book.isbn}"></dd>

    <dt>대출 가능</dt>
    <dd th:text="${book.availability} ? 'O' : 'X'"></dd>

    <dt>신청자</dt>
    <dd>
        <form th:action="@{/book/borrow(bno=${book.bno})}" method="post">
            <input type="text" name="borrowerId" th:value="${book.borrowerId}" th:disabled="${!book.availability}">
            <button th:disabled="${!book.availability}">대출 신청</button>
        </form>
    </dd>
</dl>
</body>
</html>
