<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.problem1.dao.BookMapper">
    <insert id="insert">
        insert into book(title, author, publisher, description, isbn)
        values (#{title}, #{author}, #{publisher}, #{description}, #{isbn})
    </insert>

    <select id="read" resultType="org.problem1.domain.Book">
        select * from book where bno = #{bno}
    </select>

    <select id="getList" resultType="org.problem1.domain.Book">
        select * from book
    </select>

    <update id="borrow">
        update book
        set borrowerId = #{borrowerId}, availability = false, startDate = NOW(), endDate = DATE_ADD(NOW(), INTERVAL 7 DAY)
        where bno = #{bno}
    </update>

    <delete id="delete">
        delete from book where bno = #{bno}
    </delete>
</mapper>